.form {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        width: 40vw;
        input {
            height: 7vh;
        }
        * {
            padding: 1vw;
        }
    }
}